  <div align="center">
    <div class="card m-5" style="width: 38rem;">
        <h5 class="card-header">Login</h5>
        <div class="card-body">
          <form class="col-md-12 offset-sm-1" ngNativeValidate (ngSubmit)="onForgotPasswordSubmit()">
            <div class="form-group row">
              <label for="staticName" class="col-sm-4 col-form-label">Email</label>
              <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="model.username"
                name="username"
                id="username"
                placeholder="Enter Email"
                class="form-control"
                required
                #username="ngModel"
                [ngClass]="{
                  'is-invalid':
                    username.touched && username.invalid
                }"
              />
              <span class="invalid-feedback">Username can't be blank.</span>
            </div>
            </div>
        
            <button class="btn btn-primary m-5">Send Password Link</button>

          </form>
        </div>
      </div>
    </div>