<div class="card">
    <div class="card-header text-center">
      <h2>User Settings</h2>
    </div>
    <div class="card-body">
      <h3 class="card-title">Payment Options and Address</h3>
      <a
        routerLink="/payment"
        routerLinkActive="active"
        class="btn btn-outline-primary btn-space"
        >Card details</a
      >
      <a
        routerLink="/address"
        routerLinkActive="active"
        class="btn btn-outline-primary btn-space"
        >Address details</a
      >
    </div>
  </div>